# 贝壳内网 npm；全局 ~/.npmrc 若有过期 _auth 会导致 403，可临时：NPM_CONFIG__AUTH= npm i
registry=http://artifactory.intra.ke.com/artifactory/api/npm/npm-virtual/
@ke:registry=http://artifactory.intra.ke.com/artifactory/api/npm/npm-virtual/
